<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProperty scope="context" name="service-name" source="spring.application.name"
        defaultValue="library-api" />


    <!-- TCP Appender to ship JSON logs to Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <context />
                <version />
                <logLevel />
                <loggerName />
                <threadName />
                <message />
                <pattern>
                    <pattern>
                        {
                            "app": "${appName:-library-api}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>