services:
  api_service:
    build:
      context: ../..
      dockerfile: docker/prod/Dockerfile
    container_name: library-api-prod
    restart: on-failure
    depends_on:
      - mysqldb
      - logstash
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysqldb:3306/APIDevelopSpringBoot?useSSL=false&allowPublicKeyRetrieval=true&autoReconnect=true"
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD} 
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
    networks:
      - library-network
      
  mysqldb:
    image: "mysql:8.0"
    restart: always
    volumes:
      - ./mysql_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    networks:
      - library-network
  elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
      environment:
        - discovery.type=single-node
        - bootstrap.memory_lock=true
        - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        - xpack.security.enabled=true
        - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      volumes:
        - ./elasticsearch-data:/usr/share/elasticsearch/data
      networks:
        - library-network
  kibana:
    image: docker.elastic.co/kibana/kibana:7.12.1
    environment:
      - ELASTICSEARCH_USERNAME=${ELASTIC_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    volumes:
      - ../../kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
      - ./kibana-data:/usr/share/kibana/data
    depends_on:
      - elasticsearch
    networks:
      - library-network
  logstash:
    image: docker.elastic.co/logstash/logstash:7.12.1
    restart: always
    volumes:
      - ../../logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ../../logstash/pipeline:/usr/share/logstash/pipeline
    environment:
      - LS_JAVA_OPTS=-Xms512m -Xmx512m
      - ELASTIC_USERNAME=${ELASTIC_USERNAME}
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
    depends_on:
      - elasticsearch
    networks:
      - library-network
  nginx:
    image: nginx:1.29.3-alpine
    ports:
      - 80:80
    volumes:
      - ../../nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx-data/logs:/var/log/nginx
    depends_on:
      - api_service
      - kibana
    networks:
      - library-network
volumes:
  mysql_data:
  kibana-data:
  elasticsearch-data:
    driver: local

networks:
  library-network:
